@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700;3000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
    background-color: rgb(70, 70, 70);
    color: white;
    font-family: 'Concert One', cursive;
    padding:0;
    margin:0;
}

h2 {
    font-size: 200%;
    font-weight: bold;
}

p {
    margin-top: 0;
    font-size: 90%;
}

h3 {
    margin-bottom: 0;
}

.locationP {
    margin-left: 1rem;
    text-transform: uppercase;

}

.banniere {
    top: 0; 
    background-color:white;
    width: 100%;
    height: 171px;
    background-image: url(../assets/background.jpg);
    filter: grayscale(100%);
}

h1 {
    font-size: 300%;
    color: #FFF;
    text-align: center;
    margin: 0;
}

.contentinfo {
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}



.info {
    border-radius: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    min-height: 75%;
    position: relative;
    left: 10%;
    width: 80%;
    background-color: rgb(80, 80, 80);
}

.imagecard {
    position: static;
    text-align: center;
    border-radius: 1rem;
    width: auto;
}

.imageDif {
    border-radius: 1rem;
    width: 100%;
}

.members {
    position: static;
    width: 120%;
    text-align: left;
}

ul {
    margin: 5px;
}

.creationDate {
    margin-bottom: 1rem;
    position: static;
    width: auto;
    text-align: center;
}

.groupname {
    font-size: 300%;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.display {
    width: 100%;
    font-size: 120%;
    font-weight: bold;
    display: absolute;
    padding-top: 1rem;
}

.display2 {
    width: 100%;
    font-size: 120%;
    font-weight: bold;
    display: absolute;
}


.location {
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    /* display: flex;
    flex-wrap: wrap; */
    column-count: 2;
    column-gap: 25%;
    row-gap: 100px;
}

.fixe {
    position: absolute;
    width: 15%;
    top: 25%;
    left: 42.5%;
}

.concerts {
    margin-bottom: 50px;
    background-color: rgb(70, 70, 70);
    border-radius: 1rem;
    border: none;
    text-align: center;
    padding-bottom: 1px;
} 

.accueil{
    position: absolute;
    background-color: rgb(80, 80, 80);
    border: none;
    color: white;
    cursor: pointer;
    width: auto;
    font-size: 2em;
    top: 5%;
    left: 5%;
}

.BoutonBack {
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    width: 2%;
}
